.no-products-found{

    width:100%;

    grid-column:1/-1;

    text-align:center;

    padding:80px 20px;

}

.no-products-found h2{

    color:#2563eb;

    font-size:32px;

    margin-bottom:15px;

}

.no-products-found p{

    color:#666;

    font-size:18px;

}