.color{
    color :#0B5ED7;
}

.blog-page{
    background:#ffffff;
    padding:60px 15px;
}

.blog-container{
    max-width:1100px;
    margin:auto;
}

.blog-title{
    text-align:center;
    font-size:48px;
    color:#222;
    margin-bottom:15px;
    font-weight:700;
}

.blog-meta{
    display:flex;
    justify-content:center;
    gap:35px;
    color:#777;
    margin-bottom:35px;
    flex-wrap:wrap;
    font-size:15px;
}

.meta-icon{
    color:#0B5ED7;
    margin-right:6px;
}

.blog-banner{
    width:100%;
    border-radius:6px;
    margin-bottom:35px;
}

.blog-content h2{
    color:#0B5ED7;
    margin-top:45px;
    margin-bottom:20px;
    font-size:34px;
}

.blog-content h3{
    color:#111;
    margin-bottom:25px;
    font-size:28px;
}

.blog-content p{
    font-size:18px;
    color:#555;
    line-height:2;
    margin-bottom:20px;
    text-align:justify;
}

.blog-content strong{
    color:#222;
}

@media(max-width:768px){

.blog-title{
    font-size:34px;
}

.blog-content h2{
    font-size:28px;
}

.blog-content h3{
    font-size:24px;
}

.blog-content p{
    font-size:16px;
}

}